{% extends "base.html" %}
{% block content %}
  {% if user.usuario.tipo_usuario == 'arrendatario' %}
    <!-- Contenido para arrendatario -->
    <h2>Estado de Solicitudes</h2>
    <ul>
      {% for solicitud in solicitudes %}
        <li>{{ solicitud }}</li>
      {% endfor %}
    </ul>
    <h2>Inmuebles por Región y Comuna</h2>
    <!-- Aquí puedes mostrar una lista de inmuebles filtrados por región y comuna -->
  {% elif user.usuario.tipo_usuario == 'arrendador' %}
    <!-- Contenido para arrendador -->
    <h2>Solicitudes Recibidas</h2>
    <section class="container mx-auto pt-5">
      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
        {% for solicitud in solicitudes_recibidas %}
      
      <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">{{solicitud.estado}}</div>
          <div class="card-body">
            <h5 class="card-title">{{ solicitud }}</h5>
            <P>{{solicitud.mensaje}}</P>
          </div>
        </div>
      {% endfor %}
      </div>
     </section>
   
    <h2>Tus Inmuebles</h2>
    <section class="container mx-auto pt-5">
      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
        {% for inm in inmuebles %}
          <div class="col">
            <div class="card h-100">
                <img class="card-img-top" src="/media/{{inm.imagen}}" alt="Card image cap">
              </a>
              <div class="card-body">
                <h5 class="card-title">{{ inm.name }}</h5>
                <p class="card-text text-justify">
                    {% if inm.descripcion|length > 100 %}
                        {{ inm.descripcion|slice:":100" }}... <a href="">descripcion</a>
                    {% else %}
                        {{ inm.descripcion}}
                    {% endif %}
                </p>
            </div>
              <div class="card-footer">
                <a href="{% url 'detalle' inm.id %}">detalle del inmueble</a>
              </div>
            </div>
          </div>
        {% endfor %}  
      </div>
    </section>
  {% endif %}
{% endblock %}